@keyframes dynamic {
    0% {
        background-position: center center, 0 25%;
    }

    50% {
        background-position: center center, 100% 75%;
    }

    100% {
        background-position: center center, 0 25%;
    }
}

* {
    box-sizing: border-box;
    text-decoration: none !important;
    outline: none !important;
}

a {
    transition: .25s;
    color: #424242;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: url(texture.png) fixed,
        linear-gradient(to bottom left, #2196f3, #4caf50) fixed;
    background-size: cover, 250% 250%;
    color: #424242;
    line-height: 1.618em;
    font-size: 16px;
    animation: dynamic 2.5s ease infinite;
}

.base {
    width: 100%;
    max-width: 90%;
    margin: 30px auto;
}

.tab {
    display: none;
    height: 50px;
    margin: 0 0 -5px;
    padding: 0;
    list-style: none;
    font-size: .85em;
}

.tab li {
    display: block;
    padding-bottom: 5px;
    background: #ddd;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    transition: .25s;
}

.tab li:first-child {
    background: #fff;
}

.tab li:not(:first-child):hover {
    padding-bottom: 8px;
    background: #eee;
}

.tab li a {
    display: inline-block;
    padding: 5px 20px 5px 15px;
}

.tab li a .fa-fw {
    margin-right: 5px;
    padding: 0;
}

.display-card {
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, .2);
}

.display-card a {
    color: #2196f3;
}

.display-card a:hover,
.display-card a:focus {
    transition: .25s;
    color: #4caf50;
    opacity: 1;
}

.photo {
    float: none;
    width: 30%;
    min-width: 120px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.photo img {
    width: 100%;
    max-width: 200px;
    border: solid 2px #eee;
    border-radius: 50%;
    transition: .25s;
}

.intro {
    float: left;
    padding: 0 15px;
    text-align: center;
}

.intro h1 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 2em;
}

.nick {
    margin: 5px 0 15px;
    color: #aaa;
}

.description {
    margin-bottom: 15px;
}

.mobile-tab {
    clear: both;
    padding: 15px 0;
}

.mobile-tab span {
    position: relative;
    display: block;
    background: url(texture.png) fixed,
        linear-gradient(to bottom left, #419544, #1c80cf) fixed;
    background-size: cover;
    text-align: center;
    font-size: 1.25em;
    line-height: 3em;
    color: #fff;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.mobile-tab a:not(:first-child) span {
    margin-top: 10px;
}

.hyperlink {
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.618em;
}

.hyperlink a {
    padding: 0 2px;
    opacity: .5;
}

.credits {
    clear: both;
    margin-bottom: 5px;
    text-align: center;
    color: #aaa;
}

.credits a {
    color: #aaa;
    opacity: 1;
}

.credits a:hover,
.credits a:focus {
    color: #888;
}

.github-repos,
.github-toggle {
    display: none;
}

@media (min-width:600px) {
    .base {
        max-width: 550px;
        margin: 50px auto;
    }

    .intro {
        padding: 0 50px;
    }

    .hyperlink {
        font-size: 1.75em;
    }
}

@media (min-width: 900px) {
    body {
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: auto;
    }

    abbr {
        border-bottom: dotted 2px #4caf50;
        cursor: help;
    }

    .base {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 50px));
        max-width: 800px;
    }

    .tab {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 3px;
    }

    .display-card {
        position: relative;
        border-top-left-radius: 0;
    }

    .photo {
        float: left;
        width: 20%;
        padding: 15px;
        margin: 0;
    }

    .photo img:hover {
        transform: rotate(5deg);
    }

    .intro {
        width: 65%;
        padding: 0 15px;
        text-align: left;
    }

    .intro h1 {
        margin: 15px 0 5px;
    }

    .description {
        margin-bottom: 30px;
    }

    .mobile-tab {
        display: none;
    }

    .hyperlink {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 80px;
        padding: 15px;
        font-size: 1.25em;
    }

    .hyperlink a {
        display: block;
        padding: 0;
    }

    .credits {
        font-size: .85em;
    }

    .github-repos {
        display: block;
        width: calc(100% - 50px);
        height: 15px;
        margin: -15px auto 0;
        background: #fff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25);
        border-radius: 0 0 5px 5px;
        overflow-y: auto;
        transition: height .5s ease;
    }

    .github-repos.open {
        height: calc(100vh - 400px);
    }

    .github-repos .repository {
        padding: 10px 15px;
        transition: .25s;
    }

    .github-repos .repository:first-of-type {
        margin-top: 30px;
    }

    .github-repos .repository:last-child {
        margin-bottom: 15px;
    }

    .github-repos .repository:hover {
        background: #eaeaea;
    }

    .github-repos .repository:not(:last-child) {
        border-bottom: solid 1px #ddd;
    }

    .github-repos .repository span {
        display: block;
    }

    .github-repos .repository span:first-child {
        margin-bottom: 5px;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .github-repos .repository span:last-child {
        color: #888;
        font-style: italic;
        font-size: .85rem;
    }

    .github-toggle {
        display: block;
        margin: 0 auto;
        padding: 5px 15px;
        background: #ddd;
        border: none;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25);
        cursor: pointer;
        transition: .25s;
    }

    .github-toggle:hover {
        background: #eee;
    }
}