---
import Layout from '../layouts/Layout.astro';
import Subdomains from '../components/Subdomains.svelte';
---

<Layout>
    <main class="mt-40 mb-12 lg:mt-12 max-w-[min(90%,750px)] lg:max-w-[850px]">
        <ul
            class="hidden lg:flex justify-start items-end gap-[3px] m-0 p-0 text-sm h-[50px]"
        >
            <Subdomains client:load />
        </ul>
        <div class="p-3 bg-white rounded-xl lg:rounded-tl-none shadow-lg">
            <div class="flex flex-col lg:flex-row">
                <div
                    class="mx-auto lg:ms-3 lg:me-0 my-3 lg:my-0 px-3 lg:py-3 w-1/4 lg:w-1/5 min-w-[120px]"
                >
                    <div class="avatar -mt-36 lg:mt-0">
                        <div
                            class="max-w-[200px] border-white border-4 rounded-full"
                        >
                            <img src="/og.png" alt="Faizal Chan." />
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col gap-3 px-3 md:px-12 lg:px-3 text-center lg:text-left lg:w-3/4"
                >
                    <div class="flex flex-col gap-1">
                        <h1 class="lg:mt-3 text-3xl">
                            Faizal
                            <abbr class="cursor-help" title="Chaniago">
                                Chan.
                            </abbr>
                        </h1>
                        <p class="text-gray-400">@moefc32</p>
                    </div>
                    <hr
                        class="lg:hidden mx-auto mt-1 mb-3 bg-gray-300 w-[50px] h-[5px] border-0"
                    />
                    <p>
                        Hi! I solve human problems by identifying root causes
                        and shaping them into practical, well-structured
                        solutions.
                    </p>
                    <p>
                        My work spans research, design, and code to ensure
                        decisions are grounded, solutions are usable, and
                        implementations remain efficient, each representing a
                        different layer of how I approach problem-solving.
                    </p>
                    <p class="mb-3 lg:mb-9">
                        Want to collaborate? Feel free to <a
                            href="mailto:hai@mf-chan.com"
                            class="text-blue-500 hover:text-green-500 underline"
                        >
                            contact me</a
                        >!
                    </p>
                </div>
                <div class="flex flex-col gap-1 lg:hidden my-6 px-3">
                    <Subdomains client:load list={true} />
                </div>
            </div>
            <footer class="mb-3 text-gray-500 text-center lg:text-sm">
                Mfc &copy;
                <span data-footer-year></span>
            </footer>
        </div>
    </main>
</Layout>

<script is:inline>
    const getYear = new Date().getFullYear();
    const currentYear = (getYear > 2018 ? `2018 - ` : '') + getYear;

    const footerYear = document.querySelector('[data-footer-year]');
    if (footerYear) footerYear.textContent = currentYear;
</script>
